.preview {
    display: flex;
    flex-direction: column;
}

.box-show__border {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 16px 0;
    isolation: isolate;
    width: 440px;
    border: 1px solid #D3D3D3;
    border-radius: 30px 30px 0 0;
}

.box-show__border-deep {
    box-sizing: border-box;
    isolation: isolate;
    width: 440px;
    height: 360px;
    background: #FFFFFF;
    border: 1px solid #D3D3D3; 
    margin-bottom: 30px;
}

.box-show__border-deep_header {
    width: 440px;
    height: 23px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 3px;
    border-bottom: 1px solid #EAEAEA;
    padding: 10px 3px 10px 0;
}

.box-show__border-deep_header div:first-child {
    margin-left: 10px;
}

.box-show__border-deep_cicle {
    width: 4px;
    height: 4px;
    background: #D9D9D9;
    border-radius: 90px;
}

.box-show__shadow_right {
    position: absolute;
    width: 119px;
    height: 385px;
    right: -1px;
    top: -1px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 84.72%);
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.box-show__shadow_bot {
    position: absolute;
    height: 200px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.box-show__title {
    font: 400 normal 20px/1.2 'Lora', serif;
    text-align: center;
    color: #2E2E2E;
    padding: 49px 71.5px 4px 71.5px;
}

.box-show__subtitle {
    max-width: 440px;
    font: 400 normal 10px/1.2 'Oxygen', sans-serif;
    text-align: center;
    color: rgba(46, 46, 46, 0.63);
    margin-bottom: 36px;
}

.box-show__img {
    width: 100%;
    height: 160px;
    background: #F7F7F7 no-repeat;
    background-size: cover;
}

.box-show__card {
    display: flex;
    flex-direction: column;
    width: 296px;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.09);
    border-radius: 3px;
    margin-bottom: 30px;
}

.box-show__card_img {
    height: 150px;
    background: #F7F7F7 no-repeat;
    background-size: cover;
}

.box-show__card_title {
    font: 400 normal 16px/1.3 'Lora', serif;
    color: #101315;
    padding: 14px 13px 7px 13px;
}

.box-show__card_subtitle {
    font: 400 normal 13px/1.5 'Oxygen', sans-serif;
    color: #7A7A7A;
    padding: 0 13px 30px 13px;
}

.box-show__card_author-data {
    display: flex;
    justify-content: space-between;
    background: #FCFCFC;
    font: 400 normal 12px/3 'Oxygen', sans-serif;
    color: #999999;
    padding: 7px 13px 7px 13px;
    border-top: 1px solid #D3D3D3;
}

.box-show__card_author {
    display: flex;
    align-items: center;
}

.box-show__card_author-img {
    width: 26px;
    height: 26px;
    background: linear-gradient(0deg, #F7F7F7, #F7F7F7);
    border-radius: 90px;
    margin-right: 6px;
}

.box-show-card__shadow_right {
    position: absolute;
    width: 119px;
    height: 385px;
    right: -1px;
    top: -1px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 84.72%);
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.box-show-card__shadow_bot {
    position: absolute;
    height: 85px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}